<!--
    Partials are snippets of view content that can be included in other views.
        you may want to add a notification box on a few of the pages.
-->

<%- include('./partials/notification') %>
<h1>Hello, <%= name%></h1>
